.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.let p {
  text-transform: lowercase;
}
.let p:first-letter {
  text-transform: uppercase;
}
